<nav class="navbar navbar-expand-lg  pl-3 pr-3 mb-4">
  <a class="navbar-brand ml-md-3" href="{% url 'home' %}" style="text-decoration: none;
  color: #bb3e03; font-size: 30px; font-weight: 700;">NeighborWatch</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="far fa-bars hambars" style="color: #03071e;"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto text-center">
      {% if user.is_authenticated %}
      <li class="nav-item active"><a class="nav-link" data-toggle="tooltip" data-placement="right" title="Home" href="{% url 'home' %}"
        style="text-decoration: none; color: #ee9b00; font-size: 20px; font-weight: 700;"><i class="fad fa-home"></i></a></li>
      <li class="nav-item active"><a class="nav-link" data-toggle="tooltip" data-placement="right" title="Profile" href="{% url 'profile' %}"
        style="text-decoration: none; color: #03071e; font-size: 20px; font-weight: 700;">{{user}}</a></li>
      <li class="nav-item active"><a class="nav-link" data-toggle="tooltip" data-placement="right" title="Log Out" href="{% url 'logout' %}"
        style="text-decoration: none; color: #ee9b00; font-size: 20px; font-weight: 700;"><i class="fad fa-sign-out-alt"></i></a></li>
      {% else %}
      <li class="nav-item active"><a class="nav-link" href="/accounts/login">Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>